body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}


.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/*navigation*/


.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  line-height: 30px;
  color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/*slider*/

.slider-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.main-header {
  background-color: #eeeeee;

}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item-button {
  display: block;
  width: 240px;
  padding: 18px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


/*services*/

.services {
  background-color: #ffffff;
}

.services-list {
  list-style: none;
}


.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.button-red {
  display: block;
  width: 81px;
  padding: 19px 39px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-red:hover {
  background-color: #e74246;
}
.button-red:active {
  color: #e37376;
  background-color: #d7373b;
}

.button-green {
  display: block;
  width: 81px;
  padding: 19px 39px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #00ca74;
  border-radius: 3px;
  border: none;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  color: #43c08b;
  background-color: #00aa62;
}

.button-yellow {
  display: block;
  width: 81px;
  padding: 19px 39px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #efc84a;
  border-radius: 3px;
  border: none;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  color: #edc265;
  background-color: #e5a722;
}

/*about*/

.aboutus {
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  margin-left: 139px;
  margin-bottom: 35px;
}

.whatwedo {
  color: #000000;
  text-transform: uppercase;
}

.whatwedo-list {
  list-style: none;
}



/*statistics*/

.statistics b {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.statistics-list {
  list-style: none;
}

.statistics-number {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}

.statistics-percent {
  vertical-align: super;
  font-size: 45px;
  line-height: 10,06;
  font-weight: 700;
  color: #000000;
}

.statistics-content {
  line-height: 18px;
}

/*partners*/

.partners-list {
  list-style: none;
}

.partners-item a {
  opacity: 0.2;
}

.partners-item a:hover {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

/*footer*/
/*map*/

.map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}


.contacts-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts-number {
  color: #666666;
}

.contacts-number a {
  color: #666666;
}


.contacts-address {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts {
  margin-left: 140px;
  margin-top: 54px;
  margin-right: 981px;
  margin-bottom: 54px;
  background-color: #ffffff;
}

.map .contacts-button {
  display: block;
  width: 219px;
  padding: 18px 0px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}
/*footer-discount*/

.features-discount {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.discount {
  line-height: 22px;
}

/*footer-social*/

.footer-social,
.social-list {
  list-style: none;
}


.social-button {
  background-color: #e1e1e1;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  color: #e37376;
  background-color:#d7373b;
}
/*writo-to-us*/

.write-to-us input {
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.write-to-us textarea {
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.write-to-us h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.write-to-us label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}



.write-to-us-button {
  display: block;
  width: 260px;
  padding: 18px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

/*catalog*/
/*header*/

.catalog-caption {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.header-catalog {
  background-color: #eeeeee;
}

.catalog-top {
  opacity: 0.1;
}

.catalog-top:hover {
  opacity: 1;
}

/*filters*/
/*стоимость*/

.filter-item-grid,
.filter-item-features {
  border: none;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item,
.filter-item-grid legend,
.filter-item-features legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*сетка*/

.filter-item-grid input {
  display: none;
}

.filter-item-grid span {
  display: inline-block;
  width: 20px;
  height: 20px;

}

.filter-item-grid input:checked ~ span {

}

.filter-item-grid label {
  display: flex;
  font-size: 16px;
  line-height: 20px;
}


/*особенности*/

.filter-item-features input {
  display: none;
}

.filter-item-features span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: red;
}

.filter-item-features input:checked ~ span {
  background: green;
}

.filter-item-features label {
  display: flex;
  font-size: 16px;
  line-height: 20px;
}

/*кнопка показать*/

.show-button {
  display: block;
  width: 260px;
  padding: 18px 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
}

.show-button:hover {
  background-color: #dfdfdf;
  }


.show-button:active {
  color: #959595;
  background-color: #d5d5d5;
}

.value {
  list-style: none;
}

.value label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.value span {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.grid,
.characteristics
 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.grid-list {
  list-style: none;
}

.grid li {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.catalog {
  list-style: none;
}


.catalog-info {
  background-color: #eeeeee;
}


.catalog-item-price {
  display: block;
  width: 200px;
  padding: 18px 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.catalog-item-price:hover {
  background-color: #e74246;
}

.catalog-item-price:active {
  background-color: #d7373b;
}

.head-of-sorting {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/*catalog/filter/soarting*/

.sorting {
  list-style: none;
}

.sorting a {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.3;
}

.sorting a:hover {
  opacity: 0.6;
}

.sorting a:active{
  opacity: 1;
}


.catalog-list {
  list-style: none;
}

.catalog-list .catalog-head {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-list-desctiption {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.pagination-list {
  list-style: none;
}

.pagination-item-current a{
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
}

.pagination-item-current a:hover {
  background-color: #dfdfdf;
}

.pagination-item-current a:active {
  background-color: #d5d5d5;
}

.pagination-item-current:focus {
  background-color: #ffffff;
}

.pagination-item a {
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
}

.pagination-item a:focus {
  background-color: #ffffff;
}

.pagination-button a {
  display: block;
  width: 260px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;

}

.pagination-button a:hover {
  background-color: #dfdfdf;
}

.pagination-button a:active {
  background-color: #d5d5d5;
}

.pagination-button a:focus {
  background-color: #ffffff;
}
